@model Store_MVC.Models.ViewModels.Account.UserNavPartialVM

<li class="navbar-text"> <a href="/account/user-profile" style="text-decoration: none">&nbsp; (@Model.FirstName @Model.LastName) &nbsp;</a> </li>