@model IEnumerable<Store_MVC.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="new-category">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
        </div>
        <input type="text" id="newcategoryname" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcategorya" class="btn btn-success">Add a new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" height="50" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">There are no category.</h1>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <script>
        $(function () {

            /* Add new category JS script */
            var newCategoryA = $("a#newcategorya"); /*Класс линка добавления*/
            var newCategoryTextInput = $("#newcategoryname"); /*Класс текстового поля ввода*/
            var ajaxText = $("span.ajax-text"); /*Класс картинки загрузки*/
            var table = $("table#pages tbody"); /*Класс таблицы вывода*/

            /* Пишем функцию на отлов нажатия Enter */
            newCategoryTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCategoryA.click();
                }
            });

            /* Функция Click */
            newCategoryA.click(function (e) {
                e.preventDefault();

                var categoryName = newCategoryTextInput.val();

                if (categoryName.length < 3) {
                    alert("Category name must be at least 3 characters long.");
                    return false;
                }

                ajaxText.show();

                var url = "/admin/shop/AddNewCategory";

                $.post(url, { categoryName: categoryName }, function (data) {
                    var response = data.trim();

                    if (response == "titletaken") {
                        ajaxText.html("<span class='alert alert-danger'>That title is taken.</span>");
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src='/Content/img/ajax-loader.gif' height='50' />");
                            });
                        }, 2000);
                        return false;
                    }
                    else {
                        if (!$("table#pages").length) {
                            location.reload();
                        }
                        else {
                            ajaxText.html("<span class='alert alert-success'>The category has been added!</span>");
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src='/Content/img/ajax-loader.gif' height='50' />");
                                });
                            }, 2000);

                            newCategoryTextInput.val("");

                            var toAppend = $("table#pages tbody tr:last").clone();
                            toAppend.attr("id", "id_" + data);
                            toAppend.find("#item_Name").val(categoryName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);
                            table.append(toAppend);
                            table.sortable("refresh");
                        }
                    }
                });
            });



            /* Confirm record deletion */
            $("a.delete").click(function () {
                if (!confirm("Confirm category deletion")) return false;
            });

            /* Sorting script */
            $("table#pages tbody").sortable({
                items: "tr:not(.headline)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/Categories";

                    $.post(url, ids, function (data) {

                    });
                }
            });
        });
    </script>
}