body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.new-category{
    margin-top: 30px;
    position: relative;
}

.ajax-text {
    display: none;
}

.galleryStyle {
    margin: 15px;
    height: 260px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}

    .galleryStyle:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: example;
        animation-duration: 0.25s;
        border-left: 8px solid #737373;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

@keyframes example {
    0% {
        border-left: 2px solid #ffffff;
    }

    25% {
        border-left: 3px solid #ffe6e6;
    }

    50% {
        border-left: 4px solid #d6d6d6;
    }

    100% {
        border-left: 5px solid #737373;
    }
}